body,
html {
	font-family: 'Crimson Text', serif;
	height: 100%;
}

/* The hero image */
.hero-image {
	/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../assets/project/Database/banner.jpg');

	/* Set a specific height */
	height: 50%;

	/* Position and center the image to scale nicely on all screens */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

/* Place text in the middle of the image */
.hero-text {
	text-align: center;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}


h1 {
	font-size: 50px;
}

p{
	font-size: 18px;
}

.btn-hero {
	background-color: rgb(230, 128, 123);
	color: white;
	font-size: 25px;
}
.card {
	border: 0;
	
	width: 55%; 
	margin: 0 auto;
	text-align: left;
}

.card-deck {
	width: 55%; 
	margin: 0 auto;
	text-align: left;
}
.card-img{
	width: 50%;
	height: 50%;
	align-items: center;
	text-align: center;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
  }

ul {
	padding-left: 0;
	text-indent:1em;
	font-size: 18px;
}
