body,
html {
	font-family: 'Crimson Text', serif;
	height: 100%;
}

/* The hero image */
.hero-image {
	/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url('../assets/hero1-1.jpg');

	/* Set a specific height */
	height: 80%;

	/* Position and center the image to scale nicely on all screens */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

/* Place text in the middle of the image */
.hero-text {
	text-align: center;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

h1 {
	font-size: 60px;
}


.h1-5{
	font-size: 40px;
}


h2{
	text-align: center;
}

p {
	font-size: 16px;
	word-wrap: normal;
}

.btn-hero {
	background-color: rgb(230, 128, 123);
	color: white;
	font-size: 25px;
}


.button-container{
	text-align: center;
}

.social-menu li {
	display: inline-block;	
}

.icon-size {
	width: 40px;
	margin-left: 10px;
	margin-right: 40px;	
}

.social-container {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 1em;
}

.social-container2 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 1em;
}


.card {
	border: 0;
	align-items: center;
	margin: 0 auto;
	text-align: left;
	margin-bottom: 1em;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	
}




.card-deck {
	width: 70%; 
	margin: auto;
	text-align: center;
	box-shadow: none;
	margin-bottom: 3em;
	
}

.card-img{
	object-fit: contain;
	float: right; 
	margin-top: 2em;
	width: 120px;
    height: 120px;
    left: 50%;
}



.card-text{
	text-align: left;
	word-wrap: normal;
	
}

.card-body{
	margin-bottom: 2em;
}


.accordion {
	width: 60%; 
	margin: 0 auto;
}

.panel-group {

	background-color: white;
}

.panel-panel-default {
	background-color: white;
}

.col-sm-6 {
	width: 50%;
}

.btn-outline-secondary{
	color: #2F2E2E;
	text-align: right;
}

.board {
    width: 10em;
    height: 0.25em;
    background-color: #E0C5A4;
    border-radius: 10px;
	margin-bottom: 2.6em;
	align-items: center;
}
.contact {
    background-color: #031427;
    margin-top: 150px;
    text-align: bottom center;
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
	color: white;
}



.card-media{
	width: 100%;
	height: 100%;
}

.view-demo {
    background-color: #b2b2b2;
    display: block;
    width: 50%;
    margin: 0 auto;
    color: white;
    padding: 7px 13px;
    border-radius: 6px;
    transition: all o 0.3s;
	font-size: bold;
	text-align: center;
}

a:link, a:visited {
	 color: inherit;
	 text-decoration: none;
} 

a:hover, a:active {
	color:black;
  }





