body,
html {
	height: 100%;
	color: #888;
	background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5 {
	color: #33658a;
}

.jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url('../assets/hero.jpg');
	color: white;
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron h1 {
	color: white;
}

section {
	margin-bottom: 10px;
	padding: 10px;
	background-color: white;
	border-radius: 5px;
	padding: 2em;
}

#word-cloud {
	margin: 0 auto;
	width: 100%;
}

.card {
	text-align: left;
	margin-bottom: 30px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
		0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card-img-top {
	max-width: 500px;
	max-height: 390px;
}

.card-img {
	max-height: 100px;
	max-width: 100px;
	border-radius: 50%;
	margin: 10px auto;
}

.card-title {
	text-align: center;
	color: #46494c;
}

.card .learn-more {
	color: white;
	text-align: center;
}

#contact a {
	color: inherit;
	text-decoration: underline;
	
}

.footer {
	background-color: #474e5d;
	color: #fff;
	min-height: 100px;
	line-height: 100px;
	margin-bottom: 0;
}
